@import '~@fluentui/react/dist/sass/References.scss';

.folderHierarchyGenerator {
  .messages {
    min-height: 32px;
  }

  .container {
    padding-left: 5px;

    .location {
      font-style: italic;
      padding-bottom: 15px;
    }

    .labelerror {
      min-height: 32px;
    }

    .folderscontainer {
      min-height: 45px;

      .folders-brdcrmb {
        margin: 0;

        &__button {
          font-weight: initial;
          margin-bottom: 10px;
        }

        .folder-separator {
          margin-top: 8px;
          font-size: 12px;
          color: #605E5C;
        }
      }

      .dialogContainer {
        max-height: 200px;
        overflow-y: scroll;
      }

      .addsuccess {
        color: #00a984;
      }

      .addfailure {
        color: red;
      }

      .blankarea {
        height: 14px;
        width: 14px;
      }

      .addloading {
        margin-left: 2px;
      }
    }

    .foldererror {
      color: red;

      &:hover {
        color: red;
      }
    }
  }
}
