.Print {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:10px;
    min-height: 100%;
    .printHeader,
    .printFooter {
        flex: none;
        margin-left: 5px;
        margin-right:5px;
    }
    .templateSection{
        margin: 5px;
        background-color: #D3D3D1;
        height: 30px;
        padding: 10px;
    }
    .templateTable{
        margin: 5px;
        border: 1px #eeeeee solid; 
        overflow-x:hidden;
    }
    .printContent {
        flex: 1 0 auto;
        padding: 0;
        width: 100%;
    }
}
@media print{
    .printHeader{
        height: 70px;
    }
}
@page {
    margin:0.5cm; 
}