@import '~@fluentui/react/dist/sass/References.scss';

.reactFieldVotes {
  display: flex;
  font-size: 14px;

  div,
  button {
    border: 1px solid #d3d3d3;
    padding: 8px;
  }

  div {
    background-color: #ffffff;
  }

  button {
    min-width: 80px;
    margin-left: -1px;
    display: flex;
    align-items: center;
    gap: 8px;

    i {
      font-size: 18px;
    }

    &.vote {
      background-color: #ffffff;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
