.AddUpdateTemplate{
    .detailsList{
        border: 1px solid #eeeeee;
        overflow-x:hidden;
        padding: 5px;
        height: 300px;
    }
    .editorContainer{
        height: 200px;
    }
    .quillEditor{
        height: 155px;
    }
    .iconContainer{
        display: table;
    }
    .moveColumn{
        display: table-cell;
    vertical-align: middle;
    }
    .removeIconContainer{
        height: 10px;
        margin-top: 4px;
    }
    .dropContainer{
        border: 1px dotted #eeeeee;
    }
    .sectionRow{
        background-color: rgb(202, 230, 241);
    }
    .toggleAdvanced{
        text-align: right;
    }
}