
$themePrimary: '[theme:themePrimary, default:#0078d7]';
$themeSecondary: '[theme:themeSecondary, default:#2488d8]';
$themeTertiary: "[theme:themeTertiary, default:#69afe5]";
$themeLight: "[theme:themeLight, default:#b3d6f2]";
$themeAccent: "[theme:themeAccent, default:inherit]";
$themeDark: "[theme:themeDark, default:#005a9e]";
$themeDarkAlt: "[theme:themeDarkAlt, default:#106ebe]";
$themeDarker: "[theme:themeDarker, default:#004578]";

.ccPanelHeader{
    background-color: $themeTertiary;
    color: $themeDark;
    text-align: center;
    font-weight: bold;
}
.ccitemCell {
    min-height: 54px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid;
    border-bottom-color: $themeDark;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: transparent;
    position: relative;
}
.ccitemCell::-moz-focus-inner {
    border: 0
}
.msFabric.is-focusVisible .ccitemCell:focus:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border: 1px solid;
    border-bottom-color: $themeDark;
}
.ccitemCell:hover {
    background: $themeLight;
}
.ccRow{
    width:100%;
}
.ccTopBar{
    background: $themeLight;
}
.ccitemContent {
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}
html[dir='rtl'] .ccitemContent {
    margin-right: 10px
}
.ccInitials{
    width: 60px;
    float: left;
    height: 60px;
    margin: 10px;
    text-align: center;
    background-color: $themeTertiary;
    color: $themeDark;
}
.ccitemName {
    font-size: 21px;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    color:$themePrimary;
    text-overflow: ellipsis
}
.ccitemDesc{
    margin: 0;
    color: $themeSecondary;
}
.ccStatus {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 17px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    float: right;
    width: 20px;
}
html[dir='ltr'] .ccStatus {
    margin-left: 10px
}
html[dir='rtl'] .ccStatus {
    margin-right: 10px
}
.ccButton{
    margin-top: 10px;
    margin-right: 10px;
    background-color: $themePrimary;
    color: $themeLight;
}
.ccButton:hover, .ccTopBarButton:hover, .ccDialogButton:hover{
    background-color: $themeSecondary;
}
.ccTopBarButton, .ccDialogButton{
    margin-right: 10px;
    background-color: $themePrimary;
    color: $themeLight;
}