.subMenu {
    min-height: 180px;
    min-width: 320px;
    padding: 8px;
    @media (min-width: 640px) {
      min-width: 640px;
    }
  
    .menuList {
      list-style: none;
      padding-left: 5px;
    }
    .menuHeader {
      line-height: 28px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: 600;
    }
    .menuListItem {
      line-height: 28px;
      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
    .searchClearIcn {
      margin-right: 18px;
      cursor: pointer;
    }    
  }