.chatDrawerOpen {
  position: fixed;
  width: 300px;
  height: 600px;
  bottom: 0;
  z-index: 100;
  right: 40px;
  background: #FFF;
  border: 1px solid #bebebe;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 4px 4px 0px;
  transition: all .5s ease-in-out;
  &:hover{
    background-color: #f9fafb;
  }
}

.chatDrawerClose {
  position: fixed;
  width: 300px;
  height: 45px;
  bottom: 0;
  z-index: 100;
  right: 40px;
  background: #FFF;
  border: 1px solid #bebebe;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 4px 4px 0px;
  transition: all .5s ease-in-out;
  &:hover{
    background-color: #f9fafb;
  }
}

.chatSlideButton {
	position: absolute;
  width: 100%;
	cursor: pointer;
}

.chatLabel{
  height: 40px;
  padding: 7px 8px;
}

.chatText{
  color: #242424;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 50px;
  top: 14px;
}

.chatPicture{
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.chatContent {
  position: absolute; 
  top:45px;
	width: 100%;	
}

.chatFrame{
  width: 100%;
  height: 560px;
  border: none;
}

.openChatIcon{
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
  &:hover{
    background-color: #ebebeb;
  }
}

.openChatSVG{
  fill: #646464;
  position: absolute;
  top: 7px;
  left: 7px;
}