.tickerContainer {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.tickerContent {
  white-space: nowrap;
  animation: ticker linear infinite; /* Moved animation to SCSS */
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.newsTicker {
  background-color: #48c78e;
  color: white;
  padding: 5px 0;
  font-size: 16px;
}

.tickerItem {
  margin: 0 5px;
}
