.app {
    .top {
      text-align:left;
      line-height:2.5;
      font-weight:bold;
      display: flex;
      align-items: left;
      justify-content: left;
    }
  
    .bottom, a, a:visited, a:hover {
      text-align:center;
      line-height:2.5;
      font-weight:bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .commandBar {
      width: 100%;
    }

    a {
      text-decoration: none;
      padding-left: 10px;
      padding-right: 10px;
    }

    a, span {
        color: #000;
        font-size: 14px !important;
    }
  }