$themePrimary: '[theme:themePrimary, default:#004578]';
$themeWhite: '[theme:white, default:white]';

.topPanel {
  color: $themePrimary;
}

.menuItem {
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

// SIMPLE GRID - SASS/SCSS

// grid

$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

.grid {
  width: 90%; //90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 95%; //80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 90%; //75%;
    //max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  width: $width;
}

.col1sm { width:($width / 12) - ($gutter * 11 / 12); }
.col2sm { width: ($width / 6) - ($gutter * 10 / 12); }
.col3sm { width: ($width / 4) - ($gutter * 9 / 12); }
.col4sm { width: ($width / 3) - ($gutter * 8 / 12); }
.col5sm { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.col6sm { width: ($width / 2) - ($gutter * 6 / 12); }
.col7sm { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.col8sm { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.col9sm { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.col10sm { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.col11sm { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.col12sm { width: $width; }

@media only screen and (min-width: $breakpoint-med) {
  .col1 { width:($width / 12) - ($gutter * 11 / 12); }
  .col2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .col3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .col4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .col5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .col6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .col7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .col8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .col9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .col10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .col11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .col12 { width: $width; }

  .hiddensm {
    display: block;
  }
}