.cmContainer {
    // Section
    .sectionContainer {
        width: 100%;
    }
    .sectionContainer_left {
        margin-right: 5px;
    }
    .sectionContainer_right {
        margin-left: 5px;
    }
    .sectionTitle {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
    }        
    // Source Info
    .div_itemCount {
        text-align: center;
        .spn_label {
            color: darkslategrey;
            font-weight: 500;
        }
        .spn_value {
            padding: 1px 5px;
            margin-left: 5px;
            border-radius: 10%;
            font-weight: bold;
        }
        .spn_value_green {
            background-color: green;
            color: white;
        }
        .spn_value_orange {
            background-color: orange;
            color: black;
        }
        .spn_value_red {
            background-color: red;
            color: white;
        }
    }
    // Destination list
    .destListContainer {
        width: 60%;
        display: flex;
        margin-bottom: 10px;
        margin: 0 auto;
        .listDDL {
            width: 100%;
        }
    }
}
.fieldMapping {
    // Field
    .srcFieldContainer {
        width: 40%;
        text-align: center;
        margin-top: 7px;        
    }
    .field_left {
        margin-right: 5px;
        text-align: left;
    }
    .field_right {
        margin-left: 5px;
        text-align: right;
    }
    .destFieldContainer {
        width: 35%;
    }
    .destFieldContainerHeader {
        margin-top: 7px;
        text-align: center;
    }
    .iconFieldContainer {
        width: 5%;
        text-align: center;
    }
    .fieldSeparator {
        width: 20%;
    }
    .fieldSeparatorHeader {
        margin: 0 auto;
        padding-left: 3px;
    }
    .fieldContainer {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        .fieldDDL {
            width: 85%;
            margin: 0 auto;
        }
    }
    .footerMargins {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .btnConfirmMapping {
        margin: 0 auto;
        margin-top: 10px;
        width: fit-content;
    }
}
/** Message */
.MessageContainer {
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    width: 100%;
    margin-top: 10px;
    .msgText {
      font-size: 16px;
        color: black !important;
      font-weight: bold !important;
    }
    i {
        font-weight: bold !important;
        color: black !important;
    }
    .errorMessage{
      color: #E84142 !important;
      padding-top: 10px !important;
      text-align: center;
    }
    .successMessage{
      color: #64BE1A !important;
      padding-top: 10px !important;
      text-align: center;
    }
    .warningMessage{
      color: #BEBB1A !important;
      padding-top: 10px !important;
      text-align: center;
    }
    .infoMessage{
      background-color: rgb(148, 210, 230) !important;
    }
    span {
      font-size: 14px !important;
      font-weight: 500;
      font-family: 'Calibri' !important;
    }
    div[class^="ms-MessageBar-icon"] {
      margin: 10px 0px 10px 10px !important;
    }
    div[class^="ms-MessageBar-text"] {
      margin: 10px 10px 10px 6px !important;
    }
  }
  /** Message */