@import '~office-ui-fabric-react/dist/sass/References.scss';

.shptContainer {
    .pageContainer {
        overflow-y: auto;
        max-height: 500px;
    }
    .pageInfoDiv {
        display: flex;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        margin: 10px;
        padding: 10px;
    }
    .propertyDiv {
        width: 20%;
    }
    .titleContainer {        
        width: 80%;        
        .title {
            font-weight: bold;
            font-size: 15px;
        }
        .authorInfo {
            font-weight: 500;
            font-size: 14px;
        }
        .checkedout {
            color: red;
        }
    }
    .footer {
        margin-top: 15px;
    }
}